<!DOCTYPE html>
<html>
<head>
    <title>Setting</title>
    <meta charset="utf-8" />
    <link href="./css/ui-pos.css" rel="stylesheet" />
    <link href="../css/material-icons.css" rel="stylesheet" />
    <link href="../css/ui-share.css" rel="stylesheet" />
    <link href="../css/ui-user.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- template start -->
    <div class="content">
        <div>Setting</div>
    </div>
    
    <!-- template end -->
</body>
</html>
