body {
    font-family: Arial, sans-serif;
    background-color: #8458B3; /* Purple background color */
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
h1 {
    text-align: center;
    color: #333333;
}
.orders-list {
    margin-top: 20px;
}
.order-item {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.order-item {
    font-family: 'Arial', sans-serif;
    width: 40%;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    position: relative; /* Added position relative for ::before pseudo-element */
}

.order-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.order-item::before {
    content: '➔';
    color: #666;
    margin-right: 8px;
    font-size: 18px;
    position: absolute;
    left: -20px; /* Adjust as needed for positioning */
    top: 50%;
    transform: translateY(-50%);
}

.order-item p {
    margin: 0;
    color: #333;
    font-weight: bold;
}
